global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    environment: educational-lab
    testbed: open5gs-4g5g

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'loki'
    static_configs:
      - targets: ['loki:3100']
    metrics_path: /metrics

  - job_name: 'om-module'
    static_configs:
      - targets: ['om-module:8080']
    metrics_path: /health/metrics
